/* Add your custom styles here */

.card {
  border-radius: 10px;
}

.card-header {
  background-color: #343a40;
}

.card-header strong {
  font-size: 20px;
}

.custom-button {
  background-color: darkblue;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.custom-button:hover {
  background-color: #0056b3;
}

.row.justify-content-center {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .col-md-4 {
    width: 100%;
  }
}
